

<ion-content >
	<div  text-center style=" margin-top: 26px;background-color: blue">
		<img src="assets/img/digiholo-logo.png" alt="Ionic logo" class="brand-logo">
	</div>
	<ion-row class="logo" text-center>
		 <ion-col col-12 style="    font-size: 2em;    margin-top: 38px;    color: #3896ea;" >
		 	<ion-icon name="qr-scanner" class="icon-chat-user" (click)="scanProduct()"></ion-icon></ion-col>
		 <ion-col col-12><h3 class="text_Color"><strong >Login with</strong></h3></ion-col>
	</ion-row>
	<!-- <ion-row text-center>
		 <ion-col col-12 style="font-size: 4em;color: #3896ea;" >
		 	<ion-icon name="logo-facebook" class="icon-chat-user" (click)="loginWithFB()"></ion-icon></ion-col>
		
	</ion-row> -->
 <!--   <ion-row text-center>
		 <ion-col col-12>
		 	<b>or</b>
		 </ion-col>
	</ion-row> -->
	<!-- <ion-card *ngIf="userData">
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <img [src]="userData.picture" />
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <p>First Name: {{ userData.first_name }}</p>
    </ion-card-content>

  </ion-card> -->
	<form [formGroup]="loginForm">
		<ion-list no-lines class="form-input-fields">		
             
         <ion-item  [ngClass]="{'error-border':!loginForm.controls.email.valid && loginForm.controls.email.dirty}">
		    <ion-label floating>Email</ion-label>
		    <ion-input [(ngModel)]="loginDetail.email" formControlName="email" type="text" required></ion-input> 
		   <!-- </div> -->
		  </ion-item>
        <ion-item *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.dirty">
             <p style="color:red;">Email is required!</p>
        </ion-item>

          <ion-item  [ngClass]="{'error-border':!loginForm.controls.password.valid && loginForm.controls.password.dirty}">
		    <ion-label floating>Password</ion-label>
		    <ion-input [(ngModel)]="loginDetail.password" formControlName="password" type="password" required></ion-input> 
		   <!-- </div> -->
		  </ion-item>
        <ion-item *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.dirty">
             <p style="color:red;">Password is required!</p>
        </ion-item>

			
			
			<ion-row responsive-sm>
				<ion-col >
					<!-- <button class="button-backcolor" ion-button (click)="onlogin1()" type="submit" block>Login</button> -->
					<button class="button-backcolor" ion-button (click)="onlogin()"  [disabled]="!loginForm.valid" type="submit" block>Login</button>
				</ion-col>
			</ion-row>
			<hr>
			<ion-row>
				<ion-col text-center  style="font-size: 0.8em; color: #bdbdbd;">
					Not a member? <a class="text_Color" (click)="onSignup()">Create an account</a>
				</ion-col>
			</ion-row>
		</ion-list>


	</form>

</ion-content>
