<ion-header class="product-page-header">
    <ion-navbar color="accent">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
  </ion-navbar>

    <shrinking-segment-header [scrollArea]="myContent" headerHeight="2px">

     
     
    
    </shrinking-segment-header>
    <ion-toolbar color="light" mode="md">
      <ion-segment color="dark" mode="md" [(ngModel)]="section">
        <ion-segment-button active value="one" (click)="getOwenedData()">
          Owned
        </ion-segment-button>
        <ion-segment-button value="two" (click)="getScanedData()">
          Scaned
        </ion-segment-button>     
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen #myContent>

    <div [ngSwitch]="section" style="margin-top:30px;">
      <ion-list *ngSwitchCase="'one'" style="margin-top:30px;margin-bottom: 2px">
        <div *ngIf="!noOwnerData">
        <ion-card padding class="product-history-card font-15" *ngFor="let ownerList of ownerListdata">
          <ion-row >
               <ion-col col-6 text-center (click)="getownedProductInfo(ownerList.productName,ownerList.productKeyName
)"> <b> {{ownerList.productName}}</b> </ion-col>
               <ion-col col-6 text-center (click)="showConfirm(ownerList.productName,ownerList.productKeyName)"><b> Share</b></ion-col>
            </ion-row> 
          </ion-card></div>
          <br>
          <div *ngIf="noOwnerData">
           <b (click)="getownedProductInfo()" style="margin-left: 137px;">No data Found</b> 
          </div>

     

      </ion-list>

      <ion-list *ngSwitchCase="'two'">
        <div *ngIf="!noScanedData">
        <ion-card padding class="product-history-card font-15" *ngFor="let scanedList of scanedListdata">
          
               <ion-row >
                <ion-col col-6  (click)="getownedProductInfo(scanedList.productName,scanedList.productKeyName

)"> <b>{{scanedList.productName}}</b> </ion-col>
                <ion-col col-6 text-center (click)="showConfirm(scanedList.productName,scanedList.productKeyName)"><b> Share</b></ion-col>
            </ion-row>      
              <br>
        
         
         
        </ion-card>  
          </div> 
        <div *ngIf="noScanedData">    
          <b style="margin-left: 137px;">No data Found</b>           
         </div> 
      </ion-list>

     

    </div>
</ion-content>
