<ion-content> 
	<ion-row class="logo" text-center>
		 <ion-col col-12 style="    font-size: 2em;    margin-top: 38px;    color: #3896ea;"><ion-icon name="create" class="icon-chat-user"></ion-icon></ion-col>
		 <ion-col col-12><h3 class="button-color" ><strong>Create Account</strong></h3></ion-col>
	</ion-row>

	<form [formGroup]="signupForm">
		<ion-list no-lines class="form-input-fields">
		 <ion-item  >
		    <ion-label floating>User Name</ion-label>
		    <ion-input [(ngModel)]="signupDetail.userName" formControlName="userName" type="text" required></ion-input> 		
	     </ion-item>
     
         <ion-item class="small" *ngIf="!signupForm.controls['userName'].valid &&signupForm.controls ['userName'].dirty">
            <span *ngIf="signupForm.controls['userName'].errors['required']">
                <p style="color:red;">User Name cannot be left blank</p>
            </span>
            <span *ngIf="signupForm.controls['userName'].errors['pattern']">
                <p style="color:red;">User Name must contain 3-28 characters, only alphabets and no spaces</p>
            </span>
         </ion-item>

		 <ion-item >
		    <ion-label floating>Contact Number</ion-label>
		    <ion-input [(ngModel)]="signupDetail.contactNumber"  formControlName="contactNumber" type="text" required></ion-input> 
		 </ion-item>
         <ion-item *ngIf="!signupForm.controls['contactNumber'].valid &&signupForm.controls ['contactNumber'].dirty">
            <span *ngIf="signupForm.controls['contactNumber'].errors['required']">
                <p style="color:red;">Contact Number cannot be left blank</p>
            </span>
            <!-- <span *ngIf="signupForm.controls['contactNumber'].errors['pattern']">
                <p style="color:red;">Contact Number not valid.</p>
            </span> -->
         </ion-item>
        

          <!-- Email fields -->
         <ion-item >
		    <ion-label floating>Email</ion-label>
		    <ion-input [(ngModel)]="signupDetail.email" formControlName="email" type="text" required></ion-input> 
		 </ion-item>
           
         <ion-item class="small" *ngIf="!signupForm.controls['email'].valid&&signupForm.controls['email'].dirty">
            <span *ngIf="signupForm.controls['email'].errors['required']">
             	<p style="color:red;">Email cannot be left blank</p>
            </span>
            <span *ngIf="signupForm.controls['email'].errors['pattern']">
             	<p style="color:red;">Email address format is incorrect</p>
            </span>
         </ion-item>

          <!-- Password fields -->
          
         <ion-item >
		    <ion-label floating>Password</ion-label>
		    <ion-input [(ngModel)]="signupDetail.password" formControlName="password" type="password" required></ion-input> 		  
	     	 </ion-item>
         <ion-item class="small" *ngIf="!signupForm.controls['password'].valid &&signupForm.controls             ['password'].dirty">
            <span *ngIf="signupForm.controls['password'].errors['required']">
                 <p style="color:red;">Password cannot be left blank</p>
            </span>
            <span *ngIf="signupForm.controls['password'].errors['minlength']">
                 <p style="color:red;">password must be atleast 6 characters</p>
             </span>
            <span *ngIf="signupForm.controls['password'].errors['pattern']&&!signupForm.controls['password'].errors['minlength']">
                <p style="color:red;">Password must contain at least 6 characters including 1 uppercase and 1 lowercase letter, 1 special character and 1 number</p>
            </span>
         </ion-item>

         <ion-item >
		    <ion-label floating>Confirm Password</ion-label>
		    <ion-input [(ngModel)]="signupDetail.confirmPassword" formControlName="confirmPassword" type="password" required></ion-input> 		  
	      </ion-item>
	     <!-- 	<ion-item *ngIf="!signupForm.controls['confirmPassword'].valid&&signupForm.controls['confirmPassword'].dirty">
                     </ion-item> -->

         <ion-item *ngIf="signupForm.controls['confirmPassword'].dirty&&signupForm.hasError('mismatchedPasswords')">
           <span class="small"><p style="color:red;"> Passwords do not match.</p></span>
         </ion-item>
             

		 <ion-row responsive-sm>
		  <ion-col >
			  <button class="button-backcolor" ion-button (click)="onSignup()"  [disabled]="!signupForm.valid" type="submit" block>Create</button>
				
		  </ion-col>
			</ion-row>
			<hr>
			<ion-row>
				<ion-col text-center  style="font-size: 0.8em; color: #bdbdbd;">
					Already a member? <a class="button-color" (click)="onLogin()">Login</a>
				</ion-col>
			</ion-row>
		</ion-list>


	</form>

</ion-content>
